.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  height: 100vh;
  width: 100vw;
}

#WeatherForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#DisplayResponse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
